This project is an online resume - it's a single page website.
The project is built with Next.js, ShadCN and Tailwind CSS.
The page should be server renderd, the whole site should load very quickly, and will be consumed on mobile devices as well as desktop.
